<% content_for :title do %>
  Editando Retirada
<% end %>

<div class="page-header">
  <h1>Editando Retirada</h1>
  <div>
    <%= link_to @retirada, class: 'btn btn-info' do %>
      <%= icon 'fas', 'eye' %>
      Ver
    <% end %>
    <%= link_to retiradas_path, class: 'btn btn-outline-secondary' do %>
      <%= icon 'fas', 'bars' %>
      Voltar
    <% end %>
  </div>
</div>

<%= render 'form' %>
