
<%= simple_form_for @funcionario do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :matricula %>
    <%= f.input :nome %>
    <%= f.input :setor %>
    <%= f.input :cargo, collection: @cargos %>
  </div>

  <div class="form-actions">
    <%= f.button :submit, f.object.new_record? ? 'Criar Funcionario' : 'Atualizar Funcionario', class: 'btn btn-primary btn-lg' %>
  </div>
<% end %>
